$white: #FFF;
$black: #000;
$blue-primary: #2980B9;
$blue-dark: #085587;
$blue-light: #6980ea;
$green-primary: #2ECC71;
$green-dark: #159848;
$green-light: #74FEA3;
$green-lighter: #74FEA333;
$slate-primary: #34495E;
$gray-primary: #708090;
$gray-dark: #455563;
$gray-light: #A5A8A8;
$gray-lighter: #CCCCCC;
$lightGray-primary: #BDC3C7;
$lightGray-light: #EBEBEB;
$lightGray-lighter: #EFF6FA;
$lightGray-lightest: #F5F5F5;
$red-primary: #BE3B31;
$aqua: #00FFFF;
$light-coral:#F08080
